/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
   General styles
   ========================================================================== */
body {
    font-family: ltuniversbasicregular, sans-serif; 
    font-size: 10px;
    background-color: #fffbfb;
}

#wrapper {
     width: 720px;
     margin: 0 auto;
}

/* ==========================================================================
   Header
   ========================================================================== */
header {
    height: 50em;
    background: #0078bc url('../img/_assets/cover.png') center bottom no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 7em;
}

#logo {
    margin: 0 auto;
    background: url('../img/_assets/logo.png') no-repeat;
    width: 7em;
    height: 7em;
    background-size: contain;
    position: relative;
    top: 10em;
    margin-bottom: 15em;
}

header h1, header p {
    text-align: center;
}

header p {
    font: 1.7em ltuniversbasicmedium; 
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* ==========================================================================
   Typography
   ========================================================================== */

h1 {
    font: 7.2em ltuniversbasiclight; 
}

h2 {
    font: 6.3em ltuniversbasiclight; 
}

h3 {
    font: 4.5em ltuniversbasiclight;
    margin-top: 2em;
}

h4 {
    font: 2.105em ltuniversbasicregular; 
    margin-top: 4em;
}

p, li {
    font: 1.8em/1.5em ltuniversbasicregular; 
}

ul {
    padding-left: 4em;
    margin: 4em 0;
}

ul li:before {
  content: '\2014\00a0\00a0'; /* em-dash followed by two non-breaking spaces*/
}

ul li {
  list-style: none;
}

ol {
    list-style-type: decimal-leading-zero;
    padding-left: 8em;
    margin: 4em 0;
}

a {
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
    text-decoration: none;
}

a:hover {
    color: #0078bf;
    border-bottom: 1px solid #0078bf;
}

strong {
    font-family: ltuniversbasicbold; 
}

blockquote {
    margin: 4em;
}

blockquote p {
    font-family: ltuniversbasiclightitalic; 
}

blockquote cite {
    font-family: ltuniversbasicregular;
    font-style: normal;
    font-size: 1.3em;
}

h1, h2, h3 {
    text-align: center;
}

.subtitle {
    font-family: ltuniversbasiclight;
    color: #999;
    margin: 1em 0;
}

/* ==========================================================================
   Table of Contents
   ========================================================================== */
#tableofcontents {
    border-bottom: 1px solid #dadada;
    padding-bottom: 4em;
}

/* ==========================================================================
   Content
   ========================================================================== */

section {
    margin-bottom: 7em;
}

article:last-child {
    border-bottom: none;
}

article {
    margin-bottom: 7em;
    border-bottom: 1px solid #dadada;
    padding-bottom: 4em;
}

img {
    width: 100%;
    margin: 4em 0;
    height: auto;
}

#scrollToTop {
    display: none;
    position: fixed;
    bottom: 3em;
    right: 3em;
    font: 1.3em ltuniversbasiclight; 
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
    border-top: 1px solid #dadada;
    background-color: #f5f5f5;
    height: 8.4em;
    margin-top: 7em;
    padding-left: 7em;
}

footer p {
    font: 1.35em ltuniversbasicregular;
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
}

footer p:nth-child(2) {
    margin-left: 1.5em;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}